@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung' ;
    padding: 13px, 20px;
    height: 40px;
}

#logo img {
    display: block;
    height: 38px;
    position: relative;
    bottom: 55px;
    left: 300px;
    border: 2px;
    border-radius: 19px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 8px 20px;
    font-size: 1.2rem;
}

#navbar li a{ 
    color: white;
    text-decoration: none;
    padding: 13px 24px;
}

#navbar li a:hover{
    color: black;  
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background-color: red;
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}

#missionSection{
    font-family: 'Yeon Sung', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    height: 400px;
    
}

#missionSection h2{
    text-align: center;
}

.card{
    display: inline-block;
    margin: 20px 17px;
    border: 4px solid black;
    border-radius: 10px;
    height: 250px;
    width: 30%;

}

.card p{
    position: relative;
    left: 170px;
    display: flexbox;
    width: 150px;
    text-align: justify;
}

.card h3{
    text-align: center;
}

.cardimg1 img{
    height: 140px;
    position: relative;
    bottom: 140px;
    left: 30px;
}
#card1{
    position: relative;
    bottom: 40px;
}
.cardimg2 img{
    height: 180px;
    position: relative;
    bottom: 140px;
    left: 20px;
}
.cardimg3 img{
    height: 180px;
    position: relative;
    bottom: 160px;
    left: -10px;
}

#sponsorsSection{
    height: 300px;
    background-color: #fbd6d6c7;
}
#sponsorsSection div{
    text-align: center;
    padding-top: 10px;
    font-size: 1.4rem;
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
}
#footer{
    background-color: black;
    height: 100px;
}

